{% extends 'base.html.twig' %}

{% block title %}Rentlux : location premium{% endblock %}

{% block body %}

<div class="container">
    <h1>Rentlux : location de voitures haut de gamme</h1>


</div>
{% endblock %}
